@import '../../styles/main';

.product-card {
  position: relative;
  width: 100%;
  max-width: none;

  margin: 0 auto;

  @include on-desktop {
    width: 320px;
  }

  &__img {
    background-color: $secondary-80;
    object-fit: contain;
    width: 100%;

    height: 285px;
    padding: 8px;

    @include on-desktop {
      height: 535px;
    }
  }

  &__info {
    position: relative;
    margin-top: 8px;


    @include on-desktop {
      position: static;
    }
  }

  &__title {
    @include h5;

    white-space: normal;
    word-wrap: break-word;
    width: 80%;

    @include on-desktop {
      @include h4;
    }
  }

  &__price {
    @include secondary;

    margin-top: 12px;
  }

  &__tags {
    margin: 8px 0 4px;
    &--short {
      position: absolute;
      top: 8px;
      left: 8px;
    }
  }

  &__bookmark {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../../media/icons/bookmark.svg');
    background-size: 100%;
    border: none;
    background-color: inherit;

    top: 0;
    right: 0;

    &--active {
      background-image: url('../../media/icons/bookmark-active.svg');
    }

    &--saved {
      background-image: url('../../media/icons/trash.svg');
    }

    @include on-desktop {
      width: 30px;
      height: 30px;
      top: 8px;
      right: 8px;
    }
  }
}

.tags {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $primary;
    border: 1px $primary solid;
    border-radius: 8px;
    list-style: none;
    width: inherit;
    padding: 8px;

    height: 30px;

    @include small-text;

    @include on-desktop {
      @include secondary;

      height: 35px;
    }
  }
}
