@import '../../styles/main';

.account-page {
  &__content {
    padding: 0 16px;
    margin-top: 16px;


    @include on-desktop {
      margin-top: 36px;
      padding: 0 48px;
    }
  }

  &__error {
    @include h1;

margin-top: 136px;
  }

  &__title {
    @include h2;

    text-transform: uppercase;
  }

  &__products {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    @include on-desktop {
      margin-top: 24px;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
    }

  }
}
