$desktop-min-width: 1440px;
$primary: #B33528;
$secondary-100: #F4F0E6;
$secondary-80: #ECE7DA;
$gray-100: #18181A;
$gray-60: #686970;
$gray-50: #8E8F96;
$gray-40: #B6B6BC;
$gray-30: #D2D2D8;
$gray-0: #FFF;
