@import '../../styles/main';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $secondary-100;

  @include on-desktop {
    height: 72px;
    padding: 36px 48px;
  }

  &__menu {
    display: block;
    background-image: url('../../media/icons/menu-burger.svg');
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
    width: 28px;
    height: 28px;
    transition: background-image 0s ease;

    &--open {
      background-image: url('../../media/icons/close.svg');
    }

    @include on-desktop {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__logo {
    @include logo;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include on-desktop {
      position: relative;
      top: 0;
    left: 0;
    transform: translate(0, 0);
    }
  }
}
