@import '../../styles/main';

.search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
  height: 43.2px;
  &__img {
    display: block;
    width: 28px;
    height: 28px;
    min-width: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px;

    @include on-desktop {
      width: 36px;
    height: 36px;
    min-width: 36px;
    }

    &--search {
      background-image: url('../../media/icons/search.svg');
    }

    &--close {
      background-image: url('../../media/icons/close.svg');
    }
  }

  &__input-container {
    position: none;
    width: 100%;

    @include on-desktop {
      position: relative;
    }
  }

  &__input {
    width: 100%;
    height: inherit;
    background-color: inherit;
    border: none;
    border-bottom: 1px $gray-100 solid;
    outline: none;

    @include h5;

    padding-bottom: 8px;
  }
}

.modal {
  position: absolute;
  padding: 16px;
  left: 0;
  width: 100%;
  margin-top: 8px;
  background-color: $secondary-100;
  z-index: 1000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__title {
    @include secondary-mobile;

    color: $primary;

    @include on-desktop {
      font-size: 16px;
    }
  }

  &__list {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    background-size: 100%;
    background-position: center;

    @include on-desktop {
      height: 40px;
    }

    &--recent {
      background-size: contain;
      background-position: center;

      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('../../media/icons/time.svg');

      }

    }

    &--basket {
      background-size: contain;
      background-position: center;
      position: absolute;
      right: 16px;

      display: block;
      width: 16px;
      height: 16px;
      background-image: url('../../media/icons/trash-black.svg');
    }

    &--popular {
      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('../../media/icons/search.svg');



      }
    }
  }
}
