@import './styles/main';
@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&display=swap';

* {
  font-family: 'IBM Plex Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  color: $gray-100;

}

html {
  background-color: $secondary-100;
}

.page {
  scroll-behavior: smooth;
  background-color: $secondary-100;
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;

    transform: translateY(-100%);
    transition: transform 0.5s ease, opacity 0.1s ease;
    pointer-events: none;

    &.open {
      z-index: 10;
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
}
