@import './styles/main';
@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&display=swap';

* {
  font-family: 'IBM Plex Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;

  color: $gray-100;
}

.page {
  overflow-x: hidden;
  background-color: $secondary-100;
}
