@import '../../styles/main';

.nav {
  display: none;

  @include on-desktop {
    display: block;
  }

  &--menu {
    display: block;
    padding: 0 16px;
  }

  &__list {
    width: 50vw;
    list-style: none;
    display: flex;
    justify-content: space-around;

    &--menu {
      margin-top: 24px;
      flex-direction: column;
      justify-content:left;
      gap: 48px;
    }
  }

  &__link {
    @include h6;

    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    &--active {
      color: $primary;
      font-weight: 500;
    }

    &--menu {
      text-align: left;
    }
  }
}
